
.ui-w-80 {
    position: absolute; 
    width : 190px;
    height: 190px;
    bottom: 5px;
    left: 2px;
    /*border-radius: 0%;
    border: 2px solid rgb(26, 19, 87);
    box-shadow: 16px 14px 20px;*/
}
.button {
    width: 4px;
}

 /* .icon {
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    color: white;
    transition: .3s;
} */

.labels {
    color: #a2a9e2;
    font-size: x-large;
    line-height: 45px;
    transition: 0.5s;
}

.labels:hover {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   
    background-clip: text;
    color: transparent; 
}

.ui-w-80:hover {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   
    /*background-clip: border-box;
    color: transparent;*/
}

.block {
    position: relative;
    margin:  5% auto 0;
    width: 60%;
    height: 200px;
    /* background: url("https://cdns-images.dzcdn.net/images/cover/31804304a962af07a678da79148c6373/264x264.jpg"); */
}

.glow::before , .glow::after {
    content: '';
    position: absolute;
    left: -4px;
    right: -2px;
    top: -2px;
    background: linear-gradient(45deg,violet, indigo, blue, green, yellow, orange, red);
    background-size: 400%;
    width: calc(100% + 8px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animate 20s linear infinite;
}

@keyframes animate {
    0%
    {
        background-position: 0 0;
    }
    50%
    {
        background-position: 400% 0;
    }
    100%
    {
        background-position: 0 0;
    }
}